<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirDocExpert copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>AirDocExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AirDocExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CloudDocPro(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>CloudDocPro(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>HealExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HealExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>HealthCarePrashantExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HealthCarePrashantExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HomeDoctorKhalidExperts(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>HomeDoctorKhalidExperts(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NurseLynxExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NurseLynxExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>RoyoConsultExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RoyoConsultExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RoyoEducationExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RoyoEducationExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RoyoMarketPlaceExpert(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RoyoMarketPlaceExpert(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TaraDocPro(Dev).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TaraDocPro(Prod).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3315FFD5253E9CC50018C010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334C17A125AD5F8900CE3F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334C18AD25AD5F9900CE3F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334FD6A2252350A300C1FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334FD7932523514D00C1FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>334FD8842523515F00C1FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3374BDFB259AEEF4008C6CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3388F20F247E3FE400970CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3388F225247E3FE700970CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3388F230247E3FE700970CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B8715425B6BD7A00F0D3E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C8A52C25FF42E000B1C22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D30AA425ECA41200925B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
