<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032811457113-osuud4iml7p5u8ljsci5mkciu9urnhvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032811457113-osuud4iml7p5u8ljsci5mkciu9urnhvp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1032811457113-ledsgoe1si7i3g8tnv8ttfsrnd0pufkb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdpzfu1NSSi5WalpVjkswXzvf0QaV8FeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1032811457113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurselynx.expert</string>
	<key>PROJECT_ID</key>
	<string>nurselynx-2fb1c</string>
	<key>STORAGE_BUCKET</key>
	<string>nurselynx-2fb1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032811457113:ios:f73e26c76b54fb12f7df48</string>
</dict>
</plist>