<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115504612011-m6fj4hfh1jg97d5r9qsp9o49m5cr2n4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115504612011-m6fj4hfh1jg97d5r9qsp9o49m5cr2n4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115504612011-38d0r1l6fmo7kl93o8dibmc55p3ij18h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_iecuUzKgb8HHL-YaV49R-qgavrx4UR8</string>
	<key>GCM_SENDER_ID</key>
	<string>115504612011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taradoc.expert</string>
	<key>PROJECT_ID</key>
	<string>taradoc-d4378</string>
	<key>STORAGE_BUCKET</key>
	<string>taradoc-d4378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115504612011:ios:97b388698572373956adee</string>
</dict>
</plist>