
#include "Pods/Target Support Files/Pods-RoyoConsultantExpert/Pods-RoyoConsultantExpert.development.xcconfig"

//Google Info.plist Items //Google Login and Firebase Push //test.codebrewlab@gmail.com //p@ssw0rd@123 //ProjectName: Consultapp
APP_CLIENT_ID = 952614479078-ibeh87gtthl05g6481aegn7mcn9i422q.apps.googleusercontent.com
APP_REVERSED_CLIENT_ID = com.googleusercontent.apps.952614479078-ibeh87gtthl05g6481aegn7mcn9i422q
APP_PLIST_NAME = Royo_Consult_Expert_GoogleService-Info
BACKEND_SERVER_KEY = AAAA3cw_ZOY:APA91bEhM5Y7VMATmlOkYxae_5KOwcS4FAiJ-FTZy01xtXxzbcxG1vtFp-dEOy3CSmriYR8Jz2avw3SnEwDdhoCd4zVrJQu_kRIctEv-kcP6faGpGgtI5vE2gbNBt-wwXSAgTmHSFrzX

//Facebook SDK //SigIn
APP_FACEBBOK_APP_ID = 614826522700049 //Royo Consult //developer.codebrew@gmail.com //developer@facebook

//App Store ID
APP_APPLE_APP_ID = 1518514943
RELATED_OTHER_APPLE_APP_ID = 000000000
APP_BUNDLE_ID = com.codebrew.RoyoConsultantVendor
APP_APP_VERSION = 1.0.1
APP_BUILD_VERSION = 1.5
APP_APP_NAME = RoyoConsult Expert //Change in Localizable also
PROJECT_PLIST = Info_RoyoConsult


//Related Android App
APP_ANDROID_PACKAGE_NAME = com.consultantvendor

//DeepLinking
APP_FIREBASE_PAGE_LINK = royoconsult.page.link

//Server URLs
APP_PROJECT_ID = a59ef14422c898df221e0f4da0ed85611
APP_BASE_PATH = https:/$()/royoconsult.com/
APP_SOCKET_BASE_PATH = https:/$()/node.royoconsult.com
APP_JITSI_SERVER = https:/$()/meet.royoapps.com/
APP_IMAGE_THUMBS = https:/$()/consultants3assets.sfo2.digitaloceanspaces.com/thumbs/
APP_IMAGE_UPLOAD = https:/$()/consultants3assets.sfo2.digitaloceanspaces.com/uploads/
APP_IMAGE_ORIGINAL = https:/$()/consultants3assets.sfo2.digitaloceanspaces.com/original/
APP_PDF = https:/$()/consultants3assets.sfo2.digitaloceanspaces.com/pdf/
APP_AUDIO = https:/$()/consultants3assets.sfo2.digitaloceanspaces.com/audio/

//LocalizableFile Name
APP_LOCALIZABLE = Localizable
ENTITLEMENTS = RoyoConsultExpert.entitlements
